{% extends 'base.html' %} {% block auth %}
<style>
    @media (max-width: 640px) {
        .log-btns {
            display: none;
        }
    }
    
    .reg-btns {
        display: inline-block;
    }
</style>
<div class="space h-[50px] sm:h-[70px]"></div>
<section class="flex w-full items-start justify-center sm:pb-14 pb-6">
      <div class="ml-[0px] grid">
            <div class="text justify-self-center text-center w-[22rem] pb-8">
                  <h4 class="text-xl font-normal pb-2 pt-8">
                        Welcome Back
                  </h4>
                  <h2 class="text-6xl font-normal leading-[4.5rem]">
                        Login
                  </h2>
            </div>
            <div class="box grid m-1 mt-4 sm:w-[550px] w-[full] max-sm:px-4">
                  <form class="">
                        <input
                              type="text"
                              name="credential"
                              class="text w-full my-4 h-14 pl-4 bg-transparent border"
                              placeholder="Username / Email address"
                              required
                        >
                        <div class="password border border-solid h-14 border-black input custom justify-self-center flex justify-center items-center pr-4 my-4">
                              <input
                                    class="w-full h-full pl-6 pr-2 outline-none bg-transparent border-none"
                                    type="password"
                                    name="password"
                                    placeholder="Password"
                                    id="password"
                                    required
                              >
                              <input
                                    type="checkbox"
                                    name="trigger"
                                    class="trigger-hide relative hidden"
                                    id="hide"
                              >
                              <i class="cursor-pointer fa-solid fa-eye-slash hide eye" onclick="hide()"></i>
                              <input
                                    type="checkbox"
                                    name="trigger"
                                    class="trigger-reveal relative hidden"
                                    id="reveal"
                                    checked
                              >
                              <i class="cursor-pointer fa-solid fa-eye reveal eye" onclick="reveal()"></i>
                        </div>
                        <span id="error"></span>
                        <span id="code-error"></span>
                        
                        <div class="submit">
                              <button id="login-submit-btn" type="submit" class="submit-btn w-full mt-4 h-12 bg-[#0096FF] text-[#F4F2F1] text-xl font-medium">
                                    Login
                              </button>
                        </div>
                  </form>
            </div>
      </div>
</section>
{% endblock %}
