* {
    box-sizing: border-box;
    font-family: Inter;
    color: #0f0f0f
}

.drop {
    display: none;
    top: 0rem;
    left: 3rem;
    box-shadow: 0.4px 1px 1px 0px #000;
    transition: 0.2s;
    transition-behavior: allow-discrete;
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
    transform: translateY(-20px);
}

#icon {
    transition: ease-in-out 0.5s;
}

.eye {
    transition: ease-in-out .2s;
}

.trigger-hide:checked~.hide {
    display: none !important;
}

.trigger-reveal:checked~.reveal {
    display: none !important;
}

.btns {
    box-shadow: 0.4px 2px 1px 1.2px rgba(0, 150, 255, 0.32);
}

@media(max-width: 640px) {
    .reg-btns {
        display: none;
    }
}

.drops:hover {
    background-color: #efefef;
}

.url-bar input {
    padding-left: 30px;
    /* border-radius: 20px 0 0 20px; */
    height: 100%;
    width: 85%;
    border: none;
    outline: none;
}


/* .url-bar button {
    border-radius: 0 20px 20px 0;
} */

.url-bar input:focus {
    border: none;
    outline: none;
}

.feature {
    width: 22%;
    margin: 1rem 10px;
}

@media (max-width:740px) {
    .feature {
        width: 40%;
        height: 10rem;
    }
}

@media (max-width:480px) {
    .feature {
        width: 80%;
        height: 12rem;
        margin: 10px;
    }
}

.feature .box div {
    justify-self: center;
    align-self: center;
}

.toper {
    background-color: rgb(43, 46, 59);
}

.edit-profile a {
    touch-action: manipulation;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
}

.links-container a:hover {
    text-decoration: underline;
}