{% extends "base.html" %} {% block content %}
<section class="urlbox flex flex-col gap-2 justify-center items-center max-sm:px-6">
    <div class="w-full h-[100px] text-center grid mt-14 mb-8 px-4 sm:px-8">
        <h2 class="self-center text-2xl sm:text-4xl font-light">
            Rendor url shortener your link shortener
        </h2>
    </div>
    <div class="bar">
        <div class="flex url-bar max-sm:w-full max-sm:px-4 max-md:w-[30rem] md:w-[45rem] h-16">
            <input class="inline-block" id="longurl" type="text" placeholder="Paste your long url here...">
            <button class="inline-block md:w-[15%] w-[6rem] h-full bg-[#0096FF] text-white text-lg font-normal md:font-medium" id="convert" onclick="convert()">
                        Shorten
                  </button>
        </div>
        <div class="short text-center m-8">
            <span id="short"></span>
            <span class="cursor-pointer text-[#0d609b] text-lg" id="copy"></span>
        </div>
    </div>
</section>
<section class="features">
    <div class="space h-[100px]"></div>
    <div class="text-center text-3xl sm:text-4xl font-light py-8">
        <h3>Rendor edge features</h3>
    </div>
    <div class="box flex flex-wrap justify-center items-center">
        <div class="feature feature-1">
            <div class="box grid">
                <div class="icon bg-[#0096ff] text-2xl font-light rounded-[50%/50%] w-16 h-16 text-white text-center grid p-2 m-4">
                    <i class="self-center fa-solid fa-link text-[#f4f2f1]"></i>
                </div>
                <div class="text text-center">
                    <h4 class="font-medium text-lg p-2 sm:text-xl">Managing links</h4>
                    <p class="font-light text-lg sm:text-base" class="text">Create, protect, view and delete your links.</p>
                </div>
            </div>
        </div>
        <div class="feature feature-2">
            <div class="box grid">
                <div class="icon bg-[#0096ff] text-2xl font-light rounded-[50%/50%] w-16 h-16 text-white text-center grid p-2 m-4">
                    <i class="self-center fa-regular fa-heart text-[#f4f2f1]"></i>
                </div>
                <div class="text text-center">
                    <h4 class="font-medium text-lg p-2 sm:text-xl">Open Source</h4>
                    <p class="font-light text-lg sm:text-base">Completely open source and free. You can host it on your own server.</p>
                </div>
            </div>
        </div>
        <div class="feature feature-3">
            <div class="box grid">
                <div class="icon bg-[#0096ff] text-2xl font-light rounded-[50%/50%] w-16 h-16 text-white text-center grid p-2 m-4">
                    <i class="self-center fa-regular fa-pen-to-square text-[#f4f2f1]"></i>
                </div>
                <div class="text text-center">
                    <h4 class="font-medium text-lg p-2 sm:text-xl">Custom Links</h4>
                    <p class="font-light text-lg sm:text-base">Use custom name for your links. Add or remove them for free.</p>
                </div>
            </div>
        </div>
        <div class="feature feature-4">
            <div class="box grid">
                <div class="icon bg-[#0096ff] text-2xl font-light rounded-[50%/50%] w-16 h-16 text-white text-center grid p-2 m-4">
                    <i class="self-center fa-solid fa-bolt text-[#f4f2f1]"></i>
                </div>
                <div class="text text-center">
                    <h4 class="font-medium text-lg p-2 sm:text-xl">API</h4>
                    <p class="font-light text-lg sm:text-base">Use the provided API to create, delete, and get URLs from anywhere.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="space h-[50px]"></div>
<div class="toper p-[50px]"></div>
{% endblock %}