{% extends "base.html" %} {% load static %} {% block profile %}
<section class="flex flex-col">
  <div class="space h-[20px]"></div>
  <div class="dashboard m-6 relative">
    <div
      class="user-profile max-md:w-full w-[35%] lg:w-[25%] float-left relative pl-4"
    >
      <div class="profile-avater">
        <img
          src="{% static 'image/Solo-Leveling-Sung-jin-woo.jpg' %}"
          alt="prof-pics"
          class="w-full h-auto align-middle max-w-full block object-fill"
        />
        <div class="edit-profile mt-5">
          <a
            href=""
            class="text-center align-middle border-[#2B2E3B] border border-solid w-full inline-block bg-[#f4f2f1] py-[6px] px-3"
            >Edit profile</a
          >
        </div>
      </div>
      <div class="profile-title mt-5">
        <h3 class="text-2xl font-medium text-black">
          {{ user.username|capfirst }}
        </h3>
        <p class="text-sm font-light">{{ user.email}}</p>
      </div>
      <div class="profile-bio mt-5">
        <p class="text-base font-light">........</p>
      </div>
    </div>
    <div
      class="float-left relative sm:px-4 max-md:w-full w-[65%] lg:w-[75%] max-md:mt-9"
    >
      <span class="sm:px-4 md:pl-8 font-medium md:text-3xl text-2xl"
        >Your Links</span
      >
      <div class="activity w-full sm:px-4 md:pl-8 md:mr-[-10px] mt-4">
        {% for link in url %}
        <div
          class="link-card my-4 bg-white relative w-full px-4 sm:px-8 py-5 border border-[#2b2e3b3d] border-solid"
          data-link="{{ link }}"
        >
          <div
            class="link-box w-full flex flex-wrap flex-col sm:flex-row gap-1"
          >
            <div class="link-information sm:w-[65%] w-full flex flex-row gap-6">
              <span class="orb pt-1">
                <input type="checkbox" name="orb" id="orb" />
              </span>
              <div class="link-info-container w-[85%]">
                <h3 class="font-normal text-lg pb-[3px]">
                  Limfakson GIthub Home
                </h3>
                <div class="links flex flex-col justify-between">
                  <div class="links-container">
                    <a
                      href="{{ link.shorturl }}"
                      class="short-url block py-[4px] text-xs sm:text-sm font-light text-[#0096ff]"
                    >
                      {{ link.shorturl }}
                      <i
                        class="fa-solid fa-copy pl-4 text-xs sm:text-sm copy"
                      ></i>
                    </a>
                    <a
                      href="{{ link.longurl }}"
                      class="long-url block py-[4px] text-sm sm:text-base font-light"
                    >
                      {{ link.longurl }}
                    </a>
                  </div>
                  <div class="links-info mt-9">
                    <span class="text-sm font-light">
                      <i class="fa-regular fa-calendar-days pr-1"></i>
                      {{ link.created_at|date:"M d, Y" }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <hr class="w-[3%]" />
            <div
              class="link-button pr-2 max-sm:mt-6 sm:w-[30%] relative flex flex-row gap-3 items-start justify-end"
            >
              <div
                class="copy-btn border-[1px] border-[#2b2e3b48] px-3 py-1 border-solid text-base font-normal cursor-pointer"
              >
                <i class="fa-solid fa-copy pr-[2px]"></i> copy
              </div>
              <div
                class="copy-btn border-[1px] border-[#2b2e3b48] px-3 py-1 border-solid text-base font-normal cursor-pointer"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
